.order_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  margin: auto;
}
.order_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  padding: 1em;
}
.order_card button {
  padding: 0.5em 1em;
  cursor: pointer;
}
